@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  top: 0;
  transition: all ease-in-out 0.2s;
}
.calculator {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    -40deg,
    rgba(57, 94, 216, 0.808),
    rgb(209, 62, 130)
  );
  align-items: center;
  text-align: center;
}
h2 {
  text-align: center;
  align-items: center;
  color: #fff;
  padding-top: 30px;
  position: relative;
  font-size: 30px;
  float: left;
  font-weight: 300;
  margin-left: 50px;
}
h2::after {
  content: " ";
  position: absolute;
  width: 270px;
  height: 5px;
  background-color: rgb(212, 195, 38);
  bottom: 0;
  left: 0;
  margin-left: 0%;
  margin-bottom: -12px;
  transition: width 2s;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  padding-right: 17%;
}
.container2 {
  display: grid;
  padding: 20px;
  width: 290px;
  border-radius: 30px;
  background-color: #fff;
  grid-template-columns: repeat(4, 68px);
  box-shadow: inset 5px 5px 12px #fff, 5px 5px 12px rgba(0, 0, 0, 0.35);
}
.values {
  grid-column: span 4;
  text-align: end;
  font-weight: 400;
  font-size: 35px;
  width: 250px;
  height: 50px;
  border: none;
  margin-bottom: 30px;
  margin-top: 20px;
  background: transparent;
  padding: 8px 5px;
  text-decoration: none;
  outline: none;
}
button {
  outline: none;
  border: none;
  font-size: 20px;
  font-weight: 500;
  margin-right: 45px;
  margin-bottom: 15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: inset 5px 5px 12px #fff, 5px 5px 12px rgba(0, 0, 0, 0.15);
}
button:hover {
  background-color: rgb(27, 184, 27);
  color: white;
  box-shadow: none;
}
.equal {
  grid-column: span 2;
  margin-left: 10px;
  width: 100px;
  border-radius: 10px;
  background: rgb(27, 184, 27);
  color: #fff;
  box-shadow: none;
}
.equal:hover {
  background-color: rgba(221, 38, 38, 0.719);
}
#errtag {
  color: red;
  font-size: 15px;
  text-align: center;
  grid-column: span 4;
  padding-right: 20px;
}
